@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jk7gfi');
  src:  url('fonts/icomoon.eot?jk7gfi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jk7gfi') format('truetype'),
    url('fonts/icomoon.woff?jk7gfi') format('woff'),
    url('fonts/icomoon.svg?jk7gfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moonhome:before {
  content: "\e900";
}
.icon-moonhome2:before {
  content: "\e901";
}
.icon-moonhome3:before {
  content: "\e902";
}
.icon-moonoffice:before {
  content: "\e903";
}
.icon-moonnewspaper:before {
  content: "\e904";
}
.icon-moonpencil:before {
  content: "\e905";
}
.icon-moonpencil2:before {
  content: "\e906";
}
.icon-moonquill:before {
  content: "\e907";
}
.icon-moonpen:before {
  content: "\e908";
}
.icon-moonblog:before {
  content: "\e909";
}
.icon-mooneyedropper:before {
  content: "\e90a";
}
.icon-moondroplet:before {
  content: "\e90b";
}
.icon-moonpaint-format:before {
  content: "\e90c";
}
.icon-moonimage:before {
  content: "\e90d";
}
.icon-moonimages:before {
  content: "\e90e";
}
.icon-mooncamera:before {
  content: "\e90f";
}
.icon-moonheadphones:before {
  content: "\e910";
}
.icon-moonmusic:before {
  content: "\e911";
}
.icon-moonplay:before {
  content: "\e912";
}
.icon-moonfilm:before {
  content: "\e913";
}
.icon-moonvideo-camera:before {
  content: "\e914";
}
.icon-moondice:before {
  content: "\e915";
}
.icon-moonpacman:before {
  content: "\e916";
}
.icon-moonspades:before {
  content: "\e917";
}
.icon-moonclubs:before {
  content: "\e918";
}
.icon-moondiamonds:before {
  content: "\e919";
}
.icon-moonbullhorn:before {
  content: "\e91a";
}
.icon-moonconnection:before {
  content: "\e91b";
}
.icon-moonpodcast:before {
  content: "\e91c";
}
.icon-moonfeed:before {
  content: "\e91d";
}
.icon-moonmic:before {
  content: "\e91e";
}
.icon-moonbook:before {
  content: "\e91f";
}
.icon-moonbooks:before {
  content: "\e920";
}
.icon-moonlibrary:before {
  content: "\e921";
}
.icon-moonfile-text:before {
  content: "\e922";
}
.icon-moonprofile:before {
  content: "\e923";
}
.icon-moonfile-empty:before {
  content: "\e924";
}
.icon-moonfiles-empty:before {
  content: "\e925";
}
.icon-moonfile-text2:before {
  content: "\e926";
}
.icon-moonfile-picture:before {
  content: "\e927";
}
.icon-moonfile-music:before {
  content: "\e928";
}
.icon-moonfile-play:before {
  content: "\e929";
}
.icon-moonfile-video:before {
  content: "\e92a";
}
.icon-moonfile-zip:before {
  content: "\e92b";
}
.icon-mooncopy:before {
  content: "\e92c";
}
.icon-moonpaste:before {
  content: "\e92d";
}
.icon-moonstack:before {
  content: "\e92e";
}
.icon-moonfolder:before {
  content: "\e92f";
}
.icon-moonfolder-open:before {
  content: "\e930";
}
.icon-moonfolder-plus:before {
  content: "\e931";
}
.icon-moonfolder-minus:before {
  content: "\e932";
}
.icon-moonfolder-download:before {
  content: "\e933";
}
.icon-moonfolder-upload:before {
  content: "\e934";
}
.icon-moonprice-tag:before {
  content: "\e935";
}
.icon-moonprice-tags:before {
  content: "\e936";
}
.icon-moonbarcode:before {
  content: "\e937";
}
.icon-moonqrcode:before {
  content: "\e938";
}
.icon-moonticket:before {
  content: "\e939";
}
.icon-mooncart:before {
  content: "\e93a";
}
.icon-mooncoin-dollar:before {
  content: "\e93b";
}
.icon-mooncoin-euro:before {
  content: "\e93c";
}
.icon-mooncoin-pound:before {
  content: "\e93d";
}
.icon-mooncoin-yen:before {
  content: "\e93e";
}
.icon-mooncredit-card:before {
  content: "\e93f";
}
.icon-mooncalculator:before {
  content: "\e940";
}
.icon-moonlifebuoy:before {
  content: "\e941";
}
.icon-moonphone:before {
  content: "\e942";
}
.icon-moonphone-hang-up:before {
  content: "\e943";
}
.icon-moonaddress-book:before {
  content: "\e944";
}
.icon-moonenvelop:before {
  content: "\e945";
}
.icon-moonpushpin:before {
  content: "\e946";
}
.icon-moonlocation:before {
  content: "\e947";
}
.icon-moonlocation2:before {
  content: "\e948";
}
.icon-mooncompass:before {
  content: "\e949";
}
.icon-mooncompass2:before {
  content: "\e94a";
}
.icon-moonmap:before {
  content: "\e94b";
}
.icon-moonmap2:before {
  content: "\e94c";
}
.icon-moonhistory:before {
  content: "\e94d";
}
.icon-moonclock:before {
  content: "\e94e";
}
.icon-moonclock2:before {
  content: "\e94f";
}
.icon-moonalarm:before {
  content: "\e950";
}
.icon-moonbell:before {
  content: "\e951";
}
.icon-moonstopwatch:before {
  content: "\e952";
}
.icon-mooncalendar:before {
  content: "\e953";
}
.icon-moonprinter:before {
  content: "\e954";
}
.icon-moonkeyboard:before {
  content: "\e955";
}
.icon-moondisplay:before {
  content: "\e956";
}
.icon-moonlaptop:before {
  content: "\e957";
}
.icon-moonmobile:before {
  content: "\e958";
}
.icon-moonmobile2:before {
  content: "\e959";
}
.icon-moontablet:before {
  content: "\e95a";
}
.icon-moontv:before {
  content: "\e95b";
}
.icon-moondrawer:before {
  content: "\e95c";
}
.icon-moondrawer2:before {
  content: "\e95d";
}
.icon-moonbox-add:before {
  content: "\e95e";
}
.icon-moonbox-remove:before {
  content: "\e95f";
}
.icon-moondownload:before {
  content: "\e960";
}
.icon-moonupload:before {
  content: "\e961";
}
.icon-moonfloppy-disk:before {
  content: "\e962";
}
.icon-moondrive:before {
  content: "\e963";
}
.icon-moondatabase:before {
  content: "\e964";
}
.icon-moonundo:before {
  content: "\e965";
}
.icon-moonredo:before {
  content: "\e966";
}
.icon-moonundo2:before {
  content: "\e967";
}
.icon-moonredo2:before {
  content: "\e968";
}
.icon-moonforward:before {
  content: "\e969";
}
.icon-moonreply:before {
  content: "\e96a";
}
.icon-moonbubble:before {
  content: "\e96b";
}
.icon-moonbubbles:before {
  content: "\e96c";
}
.icon-moonbubbles2:before {
  content: "\e96d";
}
.icon-moonbubble2:before {
  content: "\e96e";
}
.icon-moonbubbles3:before {
  content: "\e96f";
}
.icon-moonbubbles4:before {
  content: "\e970";
}
.icon-moonuser:before {
  content: "\e971";
}
.icon-moonusers:before {
  content: "\e972";
}
.icon-moonuser-plus:before {
  content: "\e973";
}
.icon-moonuser-minus:before {
  content: "\e974";
}
.icon-moonuser-check:before {
  content: "\e975";
}
.icon-moonuser-tie:before {
  content: "\e976";
}
.icon-moonquotes-left:before {
  content: "\e977";
}
.icon-moonquotes-right:before {
  content: "\e978";
}
.icon-moonhour-glass:before {
  content: "\e979";
}
.icon-moonspinner:before {
  content: "\e97a";
}
.icon-moonspinner2:before {
  content: "\e97b";
}
.icon-moonspinner3:before {
  content: "\e97c";
}
.icon-moonspinner4:before {
  content: "\e97d";
}
.icon-moonspinner5:before {
  content: "\e97e";
}
.icon-moonspinner6:before {
  content: "\e97f";
}
.icon-moonspinner7:before {
  content: "\e980";
}
.icon-moonspinner8:before {
  content: "\e981";
}
.icon-moonspinner9:before {
  content: "\e982";
}
.icon-moonspinner10:before {
  content: "\e983";
}
.icon-moonspinner11:before {
  content: "\e984";
}
.icon-moonbinoculars:before {
  content: "\e985";
}
.icon-moonsearch:before {
  content: "\e986";
}
.icon-moonzoom-in:before {
  content: "\e987";
}
.icon-moonzoom-out:before {
  content: "\e988";
}
.icon-moonenlarge:before {
  content: "\e989";
}
.icon-moonshrink:before {
  content: "\e98a";
}
.icon-moonenlarge2:before {
  content: "\e98b";
}
.icon-moonshrink2:before {
  content: "\e98c";
}
.icon-moonkey:before {
  content: "\e98d";
}
.icon-moonkey2:before {
  content: "\e98e";
}
.icon-moonlock:before {
  content: "\e98f";
}
.icon-moonunlocked:before {
  content: "\e990";
}
.icon-moonwrench:before {
  content: "\e991";
}
.icon-moonequalizer:before {
  content: "\e992";
}
.icon-moonequalizer2:before {
  content: "\e993";
}
.icon-mooncog:before {
  content: "\e994";
}
.icon-mooncogs:before {
  content: "\e995";
}
.icon-moonhammer:before {
  content: "\e996";
}
.icon-moonmagic-wand:before {
  content: "\e997";
}
.icon-moonaid-kit:before {
  content: "\e998";
}
.icon-moonbug:before {
  content: "\e999";
}
.icon-moonpie-chart:before {
  content: "\e99a";
}
.icon-moonstats-dots:before {
  content: "\e99b";
}
.icon-moonstats-bars:before {
  content: "\e99c";
}
.icon-moonstats-bars2:before {
  content: "\e99d";
}
.icon-moontrophy:before {
  content: "\e99e";
}
.icon-moongift:before {
  content: "\e99f";
}
.icon-moonglass:before {
  content: "\e9a0";
}
.icon-moonglass2:before {
  content: "\e9a1";
}
.icon-moonmug:before {
  content: "\e9a2";
}
.icon-moonspoon-knife:before {
  content: "\e9a3";
}
.icon-moonleaf:before {
  content: "\e9a4";
}
.icon-moonrocket:before {
  content: "\e9a5";
}
.icon-moonmeter:before {
  content: "\e9a6";
}
.icon-moonmeter2:before {
  content: "\e9a7";
}
.icon-moonhammer2:before {
  content: "\e9a8";
}
.icon-moonfire:before {
  content: "\e9a9";
}
.icon-moonlab:before {
  content: "\e9aa";
}
.icon-moonmagnet:before {
  content: "\e9ab";
}
.icon-moonbin:before {
  content: "\e9ac";
}
.icon-moonbin2:before {
  content: "\e9ad";
}
.icon-moonbriefcase:before {
  content: "\e9ae";
}
.icon-moonairplane:before {
  content: "\e9af";
}
.icon-moontruck:before {
  content: "\e9b0";
}
.icon-moonroad:before {
  content: "\e9b1";
}
.icon-moonaccessibility:before {
  content: "\e9b2";
}
.icon-moontarget:before {
  content: "\e9b3";
}
.icon-moonshield:before {
  content: "\e9b4";
}
.icon-moonpower:before {
  content: "\e9b5";
}
.icon-moonswitch:before {
  content: "\e9b6";
}
.icon-moonpower-cord:before {
  content: "\e9b7";
}
.icon-moonclipboard:before {
  content: "\e9b8";
}
.icon-moonlist-numbered:before {
  content: "\e9b9";
}
.icon-moonlist:before {
  content: "\e9ba";
}
.icon-moonlist2:before {
  content: "\e9bb";
}
.icon-moontree:before {
  content: "\e9bc";
}
.icon-moonmenu:before {
  content: "\e9bd";
}
.icon-moonmenu2:before {
  content: "\e9be";
}
.icon-moonmenu3:before {
  content: "\e9bf";
}
.icon-moonmenu4:before {
  content: "\e9c0";
}
.icon-mooncloud:before {
  content: "\e9c1";
}
.icon-mooncloud-download:before {
  content: "\e9c2";
}
.icon-mooncloud-upload:before {
  content: "\e9c3";
}
.icon-mooncloud-check:before {
  content: "\e9c4";
}
.icon-moondownload2:before {
  content: "\e9c5";
}
.icon-moonupload2:before {
  content: "\e9c6";
}
.icon-moondownload3:before {
  content: "\e9c7";
}
.icon-moonupload3:before {
  content: "\e9c8";
}
.icon-moonsphere:before {
  content: "\e9c9";
}
.icon-moonearth:before {
  content: "\e9ca";
}
.icon-moonlink:before {
  content: "\e9cb";
}
.icon-moonflag:before {
  content: "\e9cc";
}
.icon-moonattachment:before {
  content: "\e9cd";
}
.icon-mooneye:before {
  content: "\e9ce";
}
.icon-mooneye-plus:before {
  content: "\e9cf";
}
.icon-mooneye-minus:before {
  content: "\e9d0";
}
.icon-mooneye-blocked:before {
  content: "\e9d1";
}
.icon-moonbookmark:before {
  content: "\e9d2";
}
.icon-moonbookmarks:before {
  content: "\e9d3";
}
.icon-moonsun:before {
  content: "\e9d4";
}
.icon-mooncontrast:before {
  content: "\e9d5";
}
.icon-moonbrightness-contrast:before {
  content: "\e9d6";
}
.icon-moonstar-empty:before {
  content: "\e9d7";
}
.icon-moonstar-half:before {
  content: "\e9d8";
}
.icon-moonstar-full:before {
  content: "\e9d9";
}
.icon-moonheart:before {
  content: "\e9da";
}
.icon-moonheart-broken:before {
  content: "\e9db";
}
.icon-moonman:before {
  content: "\e9dc";
}
.icon-moonwoman:before {
  content: "\e9dd";
}
.icon-moonman-woman:before {
  content: "\e9de";
}
.icon-moonhappy:before {
  content: "\e9df";
}
.icon-moonhappy2:before {
  content: "\e9e0";
}
.icon-moonsmile:before {
  content: "\e9e1";
}
.icon-moonsmile2:before {
  content: "\e9e2";
}
.icon-moontongue:before {
  content: "\e9e3";
}
.icon-moontongue2:before {
  content: "\e9e4";
}
.icon-moonsad:before {
  content: "\e9e5";
}
.icon-moonsad2:before {
  content: "\e9e6";
}
.icon-moonwink:before {
  content: "\e9e7";
}
.icon-moonwink2:before {
  content: "\e9e8";
}
.icon-moongrin:before {
  content: "\e9e9";
}
.icon-moongrin2:before {
  content: "\e9ea";
}
.icon-mooncool:before {
  content: "\e9eb";
}
.icon-mooncool2:before {
  content: "\e9ec";
}
.icon-moonangry:before {
  content: "\e9ed";
}
.icon-moonangry2:before {
  content: "\e9ee";
}
.icon-moonevil:before {
  content: "\e9ef";
}
.icon-moonevil2:before {
  content: "\e9f0";
}
.icon-moonshocked:before {
  content: "\e9f1";
}
.icon-moonshocked2:before {
  content: "\e9f2";
}
.icon-moonbaffled:before {
  content: "\e9f3";
}
.icon-moonbaffled2:before {
  content: "\e9f4";
}
.icon-moonconfused:before {
  content: "\e9f5";
}
.icon-moonconfused2:before {
  content: "\e9f6";
}
.icon-moonneutral:before {
  content: "\e9f7";
}
.icon-moonneutral2:before {
  content: "\e9f8";
}
.icon-moonhipster:before {
  content: "\e9f9";
}
.icon-moonhipster2:before {
  content: "\e9fa";
}
.icon-moonwondering:before {
  content: "\e9fb";
}
.icon-moonwondering2:before {
  content: "\e9fc";
}
.icon-moonsleepy:before {
  content: "\e9fd";
}
.icon-moonsleepy2:before {
  content: "\e9fe";
}
.icon-moonfrustrated:before {
  content: "\e9ff";
}
.icon-moonfrustrated2:before {
  content: "\ea00";
}
.icon-mooncrying:before {
  content: "\ea01";
}
.icon-mooncrying2:before {
  content: "\ea02";
}
.icon-moonpoint-up:before {
  content: "\ea03";
}
.icon-moonpoint-right:before {
  content: "\ea04";
}
.icon-moonpoint-down:before {
  content: "\ea05";
}
.icon-moonpoint-left:before {
  content: "\ea06";
}
.icon-moonwarning:before {
  content: "\ea07";
}
.icon-moonnotification:before {
  content: "\ea08";
}
.icon-moonquestion:before {
  content: "\ea09";
}
.icon-moonplus:before {
  content: "\ea0a";
}
.icon-moonminus:before {
  content: "\ea0b";
}
.icon-mooninfo:before {
  content: "\ea0c";
}
.icon-mooncancel-circle:before {
  content: "\ea0d";
}
.icon-moonblocked:before {
  content: "\ea0e";
}
.icon-mooncross:before {
  content: "\ea0f";
}
.icon-mooncheckmark:before {
  content: "\ea10";
}
.icon-mooncheckmark2:before {
  content: "\ea11";
}
.icon-moonspell-check:before {
  content: "\ea12";
}
.icon-moonenter:before {
  content: "\ea13";
}
.icon-moonexit:before {
  content: "\ea14";
}
.icon-moonplay2:before {
  content: "\ea15";
}
.icon-moonpause:before {
  content: "\ea16";
}
.icon-moonstop:before {
  content: "\ea17";
}
.icon-moonprevious:before {
  content: "\ea18";
}
.icon-moonnext:before {
  content: "\ea19";
}
.icon-moonbackward:before {
  content: "\ea1a";
}
.icon-moonforward2:before {
  content: "\ea1b";
}
.icon-moonplay3:before {
  content: "\ea1c";
}
.icon-moonpause2:before {
  content: "\ea1d";
}
.icon-moonstop2:before {
  content: "\ea1e";
}
.icon-moonbackward2:before {
  content: "\ea1f";
}
.icon-moonforward3:before {
  content: "\ea20";
}
.icon-moonfirst:before {
  content: "\ea21";
}
.icon-moonlast:before {
  content: "\ea22";
}
.icon-moonprevious2:before {
  content: "\ea23";
}
.icon-moonnext2:before {
  content: "\ea24";
}
.icon-mooneject:before {
  content: "\ea25";
}
.icon-moonvolume-high:before {
  content: "\ea26";
}
.icon-moonvolume-medium:before {
  content: "\ea27";
}
.icon-moonvolume-low:before {
  content: "\ea28";
}
.icon-moonvolume-mute:before {
  content: "\ea29";
}
.icon-moonvolume-mute2:before {
  content: "\ea2a";
}
.icon-moonvolume-increase:before {
  content: "\ea2b";
}
.icon-moonvolume-decrease:before {
  content: "\ea2c";
}
.icon-moonloop:before {
  content: "\ea2d";
}
.icon-moonloop2:before {
  content: "\ea2e";
}
.icon-mooninfinite:before {
  content: "\ea2f";
}
.icon-moonshuffle:before {
  content: "\ea30";
}
.icon-moonarrow-up-left:before {
  content: "\ea31";
}
.icon-moonarrow-up:before {
  content: "\ea32";
}
.icon-moonarrow-up-right:before {
  content: "\ea33";
}
.icon-moonarrow-right:before {
  content: "\ea34";
}
.icon-moonarrow-down-right:before {
  content: "\ea35";
}
.icon-moonarrow-down:before {
  content: "\ea36";
}
.icon-moonarrow-down-left:before {
  content: "\ea37";
}
.icon-moonarrow-left:before {
  content: "\ea38";
}
.icon-moonarrow-up-left2:before {
  content: "\ea39";
}
.icon-moonarrow-up2:before {
  content: "\ea3a";
}
.icon-moonarrow-up-right2:before {
  content: "\ea3b";
}
.icon-moonarrow-right2:before {
  content: "\ea3c";
}
.icon-moonarrow-down-right2:before {
  content: "\ea3d";
}
.icon-moonarrow-down2:before {
  content: "\ea3e";
}
.icon-moonarrow-down-left2:before {
  content: "\ea3f";
}
.icon-moonarrow-left2:before {
  content: "\ea40";
}
.icon-mooncircle-up:before {
  content: "\ea41";
}
.icon-mooncircle-right:before {
  content: "\ea42";
}
.icon-mooncircle-down:before {
  content: "\ea43";
}
.icon-mooncircle-left:before {
  content: "\ea44";
}
.icon-moontab:before {
  content: "\ea45";
}
.icon-moonmove-up:before {
  content: "\ea46";
}
.icon-moonmove-down:before {
  content: "\ea47";
}
.icon-moonsort-alpha-asc:before {
  content: "\ea48";
}
.icon-moonsort-alpha-desc:before {
  content: "\ea49";
}
.icon-moonsort-numeric-asc:before {
  content: "\ea4a";
}
.icon-moonsort-numberic-desc:before {
  content: "\ea4b";
}
.icon-moonsort-amount-asc:before {
  content: "\ea4c";
}
.icon-moonsort-amount-desc:before {
  content: "\ea4d";
}
.icon-mooncommand:before {
  content: "\ea4e";
}
.icon-moonshift:before {
  content: "\ea4f";
}
.icon-moonctrl:before {
  content: "\ea50";
}
.icon-moonopt:before {
  content: "\ea51";
}
.icon-mooncheckbox-checked:before {
  content: "\ea52";
}
.icon-mooncheckbox-unchecked:before {
  content: "\ea53";
}
.icon-moonradio-checked:before {
  content: "\ea54";
}
.icon-moonradio-checked2:before {
  content: "\ea55";
}
.icon-moonradio-unchecked:before {
  content: "\ea56";
}
.icon-mooncrop:before {
  content: "\ea57";
}
.icon-moonmake-group:before {
  content: "\ea58";
}
.icon-moonungroup:before {
  content: "\ea59";
}
.icon-moonscissors:before {
  content: "\ea5a";
}
.icon-moonfilter:before {
  content: "\ea5b";
}
.icon-moonfont:before {
  content: "\ea5c";
}
.icon-moonligature:before {
  content: "\ea5d";
}
.icon-moonligature2:before {
  content: "\ea5e";
}
.icon-moontext-height:before {
  content: "\ea5f";
}
.icon-moontext-width:before {
  content: "\ea60";
}
.icon-moonfont-size:before {
  content: "\ea61";
}
.icon-moonbold:before {
  content: "\ea62";
}
.icon-moonunderline:before {
  content: "\ea63";
}
.icon-moonitalic:before {
  content: "\ea64";
}
.icon-moonstrikethrough:before {
  content: "\ea65";
}
.icon-moonomega:before {
  content: "\ea66";
}
.icon-moonsigma:before {
  content: "\ea67";
}
.icon-moonpage-break:before {
  content: "\ea68";
}
.icon-moonsuperscript:before {
  content: "\ea69";
}
.icon-moonsubscript:before {
  content: "\ea6a";
}
.icon-moonsuperscript2:before {
  content: "\ea6b";
}
.icon-moonsubscript2:before {
  content: "\ea6c";
}
.icon-moontext-color:before {
  content: "\ea6d";
}
.icon-moonpagebreak:before {
  content: "\ea6e";
}
.icon-moonclear-formatting:before {
  content: "\ea6f";
}
.icon-moontable:before {
  content: "\ea70";
}
.icon-moontable2:before {
  content: "\ea71";
}
.icon-mooninsert-template:before {
  content: "\ea72";
}
.icon-moonpilcrow:before {
  content: "\ea73";
}
.icon-moonltr:before {
  content: "\ea74";
}
.icon-moonrtl:before {
  content: "\ea75";
}
.icon-moonsection:before {
  content: "\ea76";
}
.icon-moonparagraph-left:before {
  content: "\ea77";
}
.icon-moonparagraph-center:before {
  content: "\ea78";
}
.icon-moonparagraph-right:before {
  content: "\ea79";
}
.icon-moonparagraph-justify:before {
  content: "\ea7a";
}
.icon-moonindent-increase:before {
  content: "\ea7b";
}
.icon-moonindent-decrease:before {
  content: "\ea7c";
}
.icon-moonshare:before {
  content: "\ea7d";
}
.icon-moonnew-tab:before {
  content: "\ea7e";
}
.icon-moonembed:before {
  content: "\ea7f";
}
.icon-moonembed2:before {
  content: "\ea80";
}
.icon-moonterminal:before {
  content: "\ea81";
}
.icon-moonshare2:before {
  content: "\ea82";
}
.icon-moonmail:before {
  content: "\ea83";
}
.icon-moonmail2:before {
  content: "\ea84";
}
.icon-moonmail3:before {
  content: "\ea85";
}
.icon-moonmail4:before {
  content: "\ea86";
}
.icon-moonamazon:before {
  content: "\ea87";
}
.icon-moongoogle:before {
  content: "\ea88";
}
.icon-moongoogle2:before {
  content: "\ea89";
}
.icon-moongoogle3:before {
  content: "\ea8a";
}
.icon-moongoogle-plus:before {
  content: "\ea8b";
}
.icon-moongoogle-plus2:before {
  content: "\ea8c";
}
.icon-moongoogle-plus3:before {
  content: "\ea8d";
}
.icon-moonhangouts:before {
  content: "\ea8e";
}
.icon-moongoogle-drive:before {
  content: "\ea8f";
}
.icon-moonfacebook:before {
  content: "\ea90";
}
.icon-moonfacebook2:before {
  content: "\ea91";
}
.icon-mooninstagram:before {
  content: "\ea92";
}
.icon-moonwhatsapp:before {
  content: "\ea93";
}
.icon-moonspotify:before {
  content: "\ea94";
}
.icon-moontelegram:before {
  content: "\ea95";
}
.icon-moontwitter:before {
  content: "\ea96";
}
.icon-moonvine:before {
  content: "\ea97";
}
.icon-moonvk:before {
  content: "\ea98";
}
.icon-moonrenren:before {
  content: "\ea99";
}
.icon-moonsina-weibo:before {
  content: "\ea9a";
}
.icon-moonrss:before {
  content: "\ea9b";
}
.icon-moonrss2:before {
  content: "\ea9c";
}
.icon-moonyoutube:before {
  content: "\ea9d";
}
.icon-moonyoutube2:before {
  content: "\ea9e";
}
.icon-moontwitch:before {
  content: "\ea9f";
}
.icon-moonvimeo:before {
  content: "\eaa0";
}
.icon-moonvimeo2:before {
  content: "\eaa1";
}
.icon-moonlanyrd:before {
  content: "\eaa2";
}
.icon-moonflickr:before {
  content: "\eaa3";
}
.icon-moonflickr2:before {
  content: "\eaa4";
}
.icon-moonflickr3:before {
  content: "\eaa5";
}
.icon-moonflickr4:before {
  content: "\eaa6";
}
.icon-moondribbble:before {
  content: "\eaa7";
}
.icon-moonbehance:before {
  content: "\eaa8";
}
.icon-moonbehance2:before {
  content: "\eaa9";
}
.icon-moondeviantart:before {
  content: "\eaaa";
}
.icon-moon500px:before {
  content: "\eaab";
}
.icon-moonsteam:before {
  content: "\eaac";
}
.icon-moonsteam2:before {
  content: "\eaad";
}
.icon-moondropbox:before {
  content: "\eaae";
}
.icon-moononedrive:before {
  content: "\eaaf";
}
.icon-moongithub:before {
  content: "\eab0";
}
.icon-moonnpm:before {
  content: "\eab1";
}
.icon-moonbasecamp:before {
  content: "\eab2";
}
.icon-moontrello:before {
  content: "\eab3";
}
.icon-moonwordpress:before {
  content: "\eab4";
}
.icon-moonjoomla:before {
  content: "\eab5";
}
.icon-moonello:before {
  content: "\eab6";
}
.icon-moonblogger:before {
  content: "\eab7";
}
.icon-moonblogger2:before {
  content: "\eab8";
}
.icon-moontumblr:before {
  content: "\eab9";
}
.icon-moontumblr2:before {
  content: "\eaba";
}
.icon-moonyahoo:before {
  content: "\eabb";
}
.icon-moonyahoo2:before {
  content: "\eabc";
}
.icon-moontux:before {
  content: "\eabd";
}
.icon-moonappleinc:before {
  content: "\eabe";
}
.icon-moonfinder:before {
  content: "\eabf";
}
.icon-moonandroid:before {
  content: "\eac0";
}
.icon-moonwindows:before {
  content: "\eac1";
}
.icon-moonwindows8:before {
  content: "\eac2";
}
.icon-moonsoundcloud:before {
  content: "\eac3";
}
.icon-moonsoundcloud2:before {
  content: "\eac4";
}
.icon-moonskype:before {
  content: "\eac5";
}
.icon-moonreddit:before {
  content: "\eac6";
}
.icon-moonhackernews:before {
  content: "\eac7";
}
.icon-moonwikipedia:before {
  content: "\eac8";
}
.icon-moonlinkedin:before {
  content: "\eac9";
}
.icon-moonlinkedin2:before {
  content: "\eaca";
}
.icon-moonlastfm:before {
  content: "\eacb";
}
.icon-moonlastfm2:before {
  content: "\eacc";
}
.icon-moondelicious:before {
  content: "\eacd";
}
.icon-moonstumbleupon:before {
  content: "\eace";
}
.icon-moonstumbleupon2:before {
  content: "\eacf";
}
.icon-moonstackoverflow:before {
  content: "\ead0";
}
.icon-moonpinterest:before {
  content: "\ead1";
}
.icon-moonpinterest2:before {
  content: "\ead2";
}
.icon-moonxing:before {
  content: "\ead3";
}
.icon-moonxing2:before {
  content: "\ead4";
}
.icon-moonflattr:before {
  content: "\ead5";
}
.icon-moonfoursquare:before {
  content: "\ead6";
}
.icon-moonyelp:before {
  content: "\ead7";
}
.icon-moonpaypal:before {
  content: "\ead8";
}
.icon-moonchrome:before {
  content: "\ead9";
}
.icon-moonfirefox:before {
  content: "\eada";
}
.icon-moonIE:before {
  content: "\eadb";
}
.icon-moonedge:before {
  content: "\eadc";
}
.icon-moonsafari:before {
  content: "\eadd";
}
.icon-moonopera:before {
  content: "\eade";
}
.icon-moonfile-pdf:before {
  content: "\eadf";
}
.icon-moonfile-openoffice:before {
  content: "\eae0";
}
.icon-moonfile-word:before {
  content: "\eae1";
}
.icon-moonfile-excel:before {
  content: "\eae2";
}
.icon-moonlibreoffice:before {
  content: "\eae3";
}
.icon-moonhtml-five:before {
  content: "\eae4";
}
.icon-moonhtml-five2:before {
  content: "\eae5";
}
.icon-mooncss3:before {
  content: "\eae6";
}
.icon-moongit:before {
  content: "\eae7";
}
.icon-mooncodepen:before {
  content: "\eae8";
}
.icon-moonsvg:before {
  content: "\eae9";
}
.icon-moonIcoMoon:before {
  content: "\eaea";
}
